{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h1>{{ block('title') }}</h1>
    <p>This is an application for handling Events data</p>
    <p>Version: <strong>1.0.0</strong></p>
</div>
{% endblock %}